@{
    // Some remarks about this file
    // This is the index file for load testing
    // Get difference time between loading the video and playing the video
    // Set when it is buffering and or doing other activity
    // 
    ViewBag.Title = "Index";
}

@section scripts {
    <!-- Use this when published to site
    Scripts.Render("~/bundles/yt_qos")  
        to make debugging easier for now,
        instead use this -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/yt_qos/main.js")"></script>
}

<h2>Youtube LoadTest</h2>

<p>This is the embedded youtube video for the experiment<br />
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
</p>
<h4>Streaming Info</h4>
<p><div id="yt_frozen_info">Frozen Info</div></p>
<p><div id="yt_play_info">Play Info</div></p>
<p><div id="yt_event_info">Listening to API events</div></p>
